body{
    background: black;
    color:white;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.result{
    text-align: center;
}
#wins,#guessesremaining,#category{
    color:yellow;
}
#currentword{
    font-size: 28px;
    color: orange;
}
.imagebox{
    width: 200px;
    height: 200px;
    background:black;
}
#message{
    color:red;
}
#winner{
    color:green;
    font-size: 32px;
}
.jumbotron{
    background: black;
    color:blue;
    text-align: center;
    animation-name: hangmanlogo;
    animation-duration: 3s;
    animation-iteration-count: infinite; /* 15; */
}
@keyframes hangmanlogo{
0%{color: yellow;}
20%{color: red;}
40%{color: blue;}
60%{color: orange;}
80%{color: aqua;}
100%{color:green;}
}
.headertop{
    font-size: 14px;
}